{%- set branch_dirs = [] -%}
{%- for dir in salt['file.find']('/srv/', type='d', maxdepth=2) 
if dir.startswith('/srv/salt/') and dir != '/srv/salt/master' -%}
  {%- set tmp = branch_dirs.append(dir) -%}
{%- endfor -%}

file_roots:
{%- for branch in branch_dirs if branch != 'master' %}
  {{ branch | regex_replace('/srv/salt/','') }}:
    - {{ branch }}/states
{%- endfor %}

pillar_roots:
{%- for branch in branch_dirs if branch != 'master' %}
  {{ branch | regex_replace('/srv/salt/','') }}:
    - {{ branch }}/pillar
{%- endfor %}